:root {
  /* Main styles */
  --main-bg-color: #202020;
  --main-text-color: #f8f9f9;

  /* Borders around content blocks */
  --block-border-color: #dee2e6;

  /* Bottom borders under blocks titles */
  --border-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(9, 9, 121, 1) 5%, rgb(0 175 223) 50%, rgba(9, 9, 121, 1) 95%, rgba(255, 255, 255, 0) 100%) 1;
  --border-underline-style: 2px solid;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
}

h2 {
  text-align: center;
  border-bottom: var(--border-underline-style);
  border-image: var(--border-gradient);
}

.fw-500 {
  font-weight: 500;
}

/* For xs and sm displays */
@media (max-width: 767px) {

  #block-experience {
    border: 0;
  }

}